.header__lang-link {
  font-size: 24px;
  line-height: 1.17;

  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}


