.place__title {
  margin: 0;
  padding: 0;

  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

@media screen and (max-width:1023px) {
  .place__title {
    padding-right: 10px;
    
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width:767px) {
  .place__title {
    margin: 0 16px;

    font-size: 32px;
    line-height: 1.09;
  }
}
