.lead {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin: 56px auto 0;
}

@media screen and (max-width: 1279px) {
  .lead {
    max-width: 928px;
    margin-top: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    max-width: 100%;
    margin-top: 48px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    margin-top: 48px;
  }
}
