.lead__title {
  max-width: 720px;
  margin: 0 auto;
  padding: 0;
  text-align: center;

  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 288px;

    font-size: 40px;
    line-height: 1.1;
  }
}
