.footer__links {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  column-gap: 18px;
}

.footer__links:hover {
  opacity: 0.8;
  transition: opacity 0.3s linear;
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;

    row-gap: 32px;
  }
}
