.footer__copyright {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    padding-top: 48px;
    line-height: 1;
    text-align: left;
  }
}
