.intro {
  display: flex;
  flex-direction: column;
  padding: 92px 442px 0 148px;
}

@media screen and (max-width: 1279px) {
  .intro {
    padding: 92px 286px 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 64px 16px 0;
  }
}
