.cover {
  max-width: 1184px;
  margin: auto;
  margin-top: 92px;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    margin-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin-top: 66px;
  }
}
