.lead__caption {
  margin: 0;
  padding: 8px 0 0 0;
  align-self: flex-start;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    padding-left: 16px;
  }
}

