.cover__title {
  z-index: 1;

  max-width: 560px;
  margin: 0;
  padding: 0;

  text-align: center;

  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 288px;

    font-size: 32px;
    line-height: 1.1;
  }
}


