.intro__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 35px;
    line-height: 1.09;
  }
}
